<div class="{{ css_classes }}" >
	<select class="select form-control p-0">
		{% for currency in currencies %}
			<option rel="{{ currency }}" value="{{ currency }}" {% if currency == selected_currency %}selected="selected"{% endif %}>{{ get_formatted_price( currency, format )|raw }}</option>
		{% endfor %}
	</select>
</div>