@font-face {
    font-family: "Effra W01 Regular";
    src: url("../fonts/2a81b781598a1f6a0499de86fbd9afcc.eot");
    /* IE9*/
    src: url("../fonts/2a81b781598a1f6a0499de86fbd9afcc.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/2a81b781598a1f6a0499de86fbd9afcc.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/2a81b781598a1f6a0499de86fbd9afcc.woff") format("woff"), /* chrome、firefox */
    url("../fonts/2a81b781598a1f6a0499de86fbd9afcc.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/2a81b781598a1f6a0499de86fbd9afcc.svg#Effra W01 Regular") format("svg");
    /* iOS 4.1- */
}

body {
    font-family: "Effra W01 Regular" !important;
    font-size: 16px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
}
ul {

    padding:0;
    margin:0;
}
ul li {
    list-style-type:none;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

#header-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background: #675682;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.headercontact {
    color: #fff;
    font-size: 17px;
}

.headercontact a {
    color: #ffffff;
    font-size: 17px;
    text-decoration: underline;
}

.icon-arrow-up {
    display: none;
    z-index: 9999;
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.icon-arrow-up:hover {
    color: #03A9F4;
}

/*MENU*/

#menu {
    height: 60px;
    font-size: 1.1em;
}

#menu span {
    position: relative;
    top: 2px;
}

#menu ul ul {
    display: none;
}

#menu ul li:hover>ul {
    display: block;
}

#menu ul {
    list-style: none;
    position: relative;
    display: inline-table;
}

#menu ul:after {
    content: "";
    clear: both;
    display: block;
}

#menu ul li {
    float: left;
}

#menu ul li a {
    display: block;
    line-height: 60px;
    font-weight: 300;
    padding: 0 20px;
    color: white;
    text-decoration: none;
}

#menu ul li a span {
    color: #03A9F4;
}

#menu ul li:hover a, #menu ul li.current a {
    /*color: #015DA2;*/
}

#menu ul ul {
    padding: 0;
    position: absolute;
    top: 100%;
}

#menu ul ul li {
    float: none;
    position: relative;
}

#menu ul ul a {
    line-height: 30px;
    background: #01569B;
    color: rgba(255, 255, 255, 0.8) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#menu ul ul a:hover {
    color: white !important;
}

.shop {
    height: 55px;
    background-color: #fff;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#menu-main .shop {
    height: 55px;
}

.shop a {
    color: #675682!important;
    font-weight: bold;
}

/* END of MENU */

#logo-scroll img {
    height: 40px;
    margin-top: 5px;
}

/*SCROLL MENU*/

#scroll-menu {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    font-size: 1.1em;
    background: #675682;
}

#scroll-menu ul {
    list-style: none;
    position: relative;
    display: inline-table;
}

#scroll-menu ul:after {
    content: "";
    clear: both;
    display: block;
}

#scroll-menu ul li {
    float: left;
}

#scroll-menu ul li a {
    display: block;
    line-height: 50px;
    font-weight: 300;
    padding: 0 20px;
    color: white;
    text-decoration: none;
}

#scroll-menu ul li a span {
    color: #03A9F4;
}

#scroll-menu ul li:hover a, #scroll-menu ul li.current a {
    /*color: #015DA2;*/
}

#scroll-menu ul ul {
    padding: 0;
    position: absolute;
    top: 100%;
}

#scroll-menu ul ul li {
    float: none;
    position: relative;
}

#scroll-menu ul ul a {
    line-height: 30px;
    background: #01569B;
    color: rgba(255, 255, 255, 0.8) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#scroll-menu ul ul a:hover {
    color: white !important;
}

/*END of SCROLL MENU*/

#trigger-overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    top: 5px;
    display: none;
    width: 50px;
    height: 50px;
    background: #03A9F4;
    color: #675682;
    text-align: center;
    font-size: 2em;
    line-height: 50px;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

#trigger-overlay:hover {
    /*background: #03A9F4;*/
}

#trigger-overlay .icon-menu {
    position: relative;
    top: 2px;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    height: 350px;
}

.hovereffect .overlayeffect {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

.hovereffect:hover .overlayeffect {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.hovereffect a, .hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.bottomline {
    width: 100%;
    border-bottom: 2px solid #E1E5E8;
    padding: 20px 0;
}

.nopadding {
    padding: 0 !important;
}

.content-wrapper {
    padding: 60px 0 0;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                           not supported by any browser */
}

.bordered {
    border-bottom: 1px solid #DBDBDB;
    border-left: 1px solid #DBDBDB;
}

.bordered:last-child {
    border-right: 1px solid #DBDBDB;
}

.bordered:nth-child(3n) {
    border-right: 1px solid #DBDBDB;
}

.bordered:nth-child(+n+7) {
    border-bottom: none;
}
.bordered h2 {
    font-size: 22px;
}

.bordered a:hover {
    text-decoration: none;
}

.bordered:hover {
    background-color: #F6F6F6;
}

.caricature {
    margin: 20px auto;
    height: 400px;
    background: white;
    *border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 90;
    cursor: pointer;
}

.caricature_descr {
    margin: 20px 0;
}

.caricature_descr p {
    font-size: 16px;
    text-align: justify;
    /*height: 350px;*/
}

.ribbon-wrapper-pink {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    z-index: 99;
    top: -3px;
    right: -3px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.ribbon-pink {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #e52a6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e52a6f), to(#e52a6f));
    background-image: -webkit-linear-gradient(top, #e52a6f, #e52a6f);
    background-image: -moz-linear-gradient(top, #e52a6f, #e52a6f);
    background-image: -ms-linear-gradient(top, #e52a6f, #e52a6f);
    background-image: -o-linear-gradient(top, #e52a6f, #e52a6f);
    color: #fff;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon-pink:before, .ribbon-pink:after {
    content: "";
    border-top: 3px solid #e52a6f;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon-pink:before {
    left: 0;
}

.ribbon-pink:after {
    right: 0;
}

/*FOOTER*/

footer {
    padding: 20px 0 5px 0;
    text-align: center;
    color: #fff;
    background: #675682;
    /*border-top: 5px solid #03A9F4;*/
}

footer h2 {
    margin: 15px 0;
    font-size: 1.4em;
    color: white;
}

footer a {
    color: #DDD;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

@media handheld, only screen and (max-width: 980px) {
    #logo img {
        height: 175px;
    }
}

@media handheld, only screen and (max-width: 940px) {
    #menu, #scroll-menu {
        display: none !important;
    }
    #header-bar {
        position: fixed;
        z-index: 999;
    }
    #trigger-overlay {
        display: block;
    }
    .hidexs {
        display: none;
    }
    .footer_menu li, #menu-footer-1 li {
        text-align: center!important;
        margin-left: -40px!important;
    }
}

@media handheld, only screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
    #scroll-menu {
        display: none !important;
    }
    #header-bar {
        position: fixed;
        z-index: 999;
    }
    .footer_menu li, #menu-footer-1 li {
        text-align: center!important;
        margin-left: -40px!important;
    }
}

@media handheld, only screen and (max-width: 600px) {
    #logo img {
        height: 125px;
    }
    /* header {
        height: 100px;
    }*/
    /* header .col-md-12 {
        height: 100px;
    }*/
    .component-fullwidth {
        height: 250px;
    }
}

.social .fbtn {
    width: 54px;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 18px;
    margin: 0 auto;
}

.social .fa {
    padding: 15px 0px
}

.facebook {
    background-color: #3b5998;
}

.gplus {
    background-color: #dd4b39;
}

.twitter {
    background-color: #55acee;
}

.stumbleupon {
    background-color: #eb4924;
}

.pinterest {
    background-color: #cc2127;
}

.linkedin {
    background-color: #0077b5;
}

.buffer {
    background-color: #323b43;
}

.share-button.sharer {
    height: 60px;
    padding: 10px 0;
}

.share-button.sharer .social.active.top {
    transform: scale(1) translateY(-10px);
}

.share-button.sharer .social.networks-5 {}

.share-button.sharer .social.top {
    transform-origin: 0 0 0;
}

.share-button.sharer .social {
    opacity: 1;
    transition: all 0.4s ease 0s;
    visibility: visible;
}

.thumb .img-responsive {
    width: auto;
    height: 100px;
}

.thumbnail {
    border-radius: none;
    border: none;
}

.masonry {
    display: block;
    -webkit-column-gap: 0.25rem;
    -moz-column-gap: 0.25rem;
    column-gap: 0.25rem;
}

.masonry.masonry-columns-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

@media (max-width: 767px) {
    .masonry.masonry-columns-3 {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .bordered {
        border: 1px solid #DBDBDB!important;
    }
}

@media (max-width: 540px) {
    .masonry.masonry-columns-3 {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

.masonry .masonry-item {
    display: inline-block;
    width: 100%;
    padding: 0;
    border: 1px solid transparent;
    transition: all 0.4s ease-in-out;
}

.masonry .masonry-item:hover {
    border: 1px solid #f0f0f0;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    width: 60%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#slider, ul.slides, li.slide {
    width: 100%;
}

#slider {
    height: 400px;
    background: black;
    position: relative;
}

#slider li.slide {
    opacity: 0;
    height: 400px;
    top: 0;
    left: 0;
    list-style: none;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#slider li.slide.active {
    opacity: 1;
    pointer-events: all;
}

#controls li {
    border-top: 5px solid #BABABA;
    display: inline-block;
    vertical-align: top;
}

#controls li a {
    text-align: center;
    font-size: 16px !important;
    color: #BABABA;
}

#controls li a:hover {
    color: #675682;
}

#controls li a:hover {
    text-decoration: none;
}

#controls .active {
    border-top: 5px solid #675682;
}

#controls .active a {
    color: #675682;
}

.slider_menu {
    color: #fff;
    position: absolute;
    top: 20px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.6);
    width: 550px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.add-padding {
    margin: 80px 0!important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #675682;
    color: #fff;
}

.border_full {
    border: 1px solid #DBDBDB;
}

.thumb {
    position: relative;
    margin: 0 auto;
    width: 281px;
    height: 370px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.thumb_caricature {
    position: relative;
    float: left;
    width: 100%;
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.last_caricature {
    position: relative;
    float: left;
    height: 185px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 980px) {
    .last_caricature {
        height: 300px;
    }
}

.caricatures {
    position: relative;
    float: left;
    height: 116.66px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 980px) {
    .last_caricature {
        height: 300px;
    }
}

.asteriskField {
    color: #e52a6f;
}

sup {
    color: #e52a6f;
}

.btn-purple {
    background-color: #675682;
    border-color: #675682;
    color: #fff;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.btn-purple:hover {
    background-color: #5f0f4e;
    border-color: #5f0f4e;
    color: #fff;
}

.setup-panel a {
    color: #675682;
}

.form-group input, .form-group textarea, .form-group select, .file-input-wrapper {
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
}

.form-group label {
    font-weight: 400;
}

.form-control:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px rgba(95, 15, 78, 0.6);
    border-color: #eee;
}

.sweet-alert, .sweet-alert button {
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
}

.pointer {
    cursor: pointer;
}

#delivery {
    display: none;
}

.pactive {
    background-color: #fff;
    border: 1px solid #675682;
}

#has_delivery {
    display: none;
}

.footer_menu li, #menu-footer-1 li {
    list-style-type: none;
    text-align: left;
}

.footer_menu h2 {
    float: left;
}

.modal-footer, .modal-header {
    border: 0;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    padding: 15px 15px 0;
}

.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.fade-scale.in {
    opacity: 1;
    transform: scale(1);
}

.current-menu-item a, .current_page_item a {
    color: #ddd!important;
}

.menu-item a:hover {
    color: #ddd!important;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    /* * padding: 8px; */
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.thumbpadding {
    padding: 25px 20px 15px;
}

.comanda {
    background-color: #675682;
    width: 282px;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 39px;
    margin: 0 auto 3px;
}

.comanda:hover {
    color: #fff;
}

.widget h2 {
    font-size: 22px;
}

#scroll-menu .shop {
    height: 45px;
}

@media (max-width: 767px) {
    .thumbpadding {
        padding: 15px 0;
    }
}

.btn-comanda {
    background: #fff;
    color: #675682;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

#menu ul li.current-menu-item, #menu ul li:hover {
    background-color: #806d9e;
    height: 55px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#menu ul li.shop:hover {
    background-color: #fff;
    color: #675682!important;
}

.currency a {
    color: #fff;
}

.currency a:hover {
    color: #ddd!important
}

.h-60 {
    height: 60px;
}

.pt-7-ml-10 {
    padding-top: 7px;
    margin-left: 10px;
}

.br-0 {
    border-radius: 0%;
}

.c-p {
    cursor: pointer
}

.col-fff-fs-16 {
    color: #fff;
    font-size: 16px;
}

.lh-60 {
    line-height: 60px;
}

.p-1-pt-12 {
    padding: 12px 1px 1px 1px;
}

.p-1-pt-6 {
    padding: 6px 1px 1px 1px;
}

.p-1 {
    padding: 1px;
}

.p-1-pt-8 {
    padding: 8px 1px 1px 1px;
}

.p-0-lh-30 {
    padding: 0;
    line-height: 30px;
}

.p-0 {
    padding: 0;
}

.header-phone {
    display: block;
}

.select_menu {
    width: 50%!important;
    margin: 13px auto;
    font-size: 18px!important;
}

.p-5 {
    padding: 5px;
}

.d-block {
    display: block;
}

.spacer {
    height: 40px;
}

.slider-map {
    width: 100%;
    height: 89px;
    background: transparent url(../img/slider-line.png) repeat-x 0px 0px;
}

.caricatures-list {
    width: 100%;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.m--1-auto {
    margin: -1px auto;
}

.caricatures-list h2 {
    /* margin-top: -38px;
    font-size: 26px; */
}

.footer-widgets {
    /* margin-top: 10px; */
    width: 100%;
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.plr-0 {
    padding-left: 0;
    padding-right: 0;
}

.mw-100 {
    max-width: 100%;
    height: auto;
}

.p-20 {
    padding: 20px;
}

.footer-widgets-row {
    width: 281px;
    margin: 0 auto;
}

.activate-step-h2 {
    margin-top: 20px;
    font-size: 1.4em;
}

.shop_wrapper {
    padding:40px 0 15px;
}
.mb-0 {
    margin-bottom: 0;
}

.shop_caricature {
    padding:25px 20px 0;
}
.shop_caricature-link {
    color:#333;
}
.shop_caricature-title {
    height: 60px;
    font-size: 28px;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}

.wc-pao-addon {
    width: 49%;
    display: inline-block;
}
.wc-pao-addon-poze, .wc-pao-addon-detalii-comanda {
    display:block;
}
@media (max-width: 767px) {
    .wc-pao-addon {
        width: 100%;
        display: block;
    }

    .comanda {
        width:100%;
        display:inline-block;
    }

    .shop_caricature-title {
        font-size: 24px;
    }

    .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
        width: 100%!important;
    }

    .woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
         width: 100%!important;
    }

    .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
        width:100%;
    }

    .woocommerce-page .container, .shop_wrapper {
        padding-top:0!important;
    }

}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    width:45%;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    width: 50%;
}
.wc-pao-addon-descriere {
    width:100%;
}
div.product-addon-totals {
    border-top: 1px solid rgba(103, 86, 130, 0.2);
    border-bottom: 1px solid rgba(103, 86, 130, 0.2);
}
div.product-addon-totals .wc-pao-subtotal-line {
    border-top: 1px solid #e6e6e6;
}

.product-quantity, input[name='update_cart'] {
    display:none;
}
div.product-addon-totals {
    margin-top:0;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #675682;
}

#add_payment_method table.cart .product-thumbnail, .woocommerce-cart table.cart .product-thumbnail, .woocommerce-checkout table.cart .product-thumbnail {
    max-width: 44px;
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: auto;
}
.woocommerce table.shop_table td {
    border-top: 1px solid #eee;
}

.woocommerce table.shop_table {
    border: 1px solid rgba(0,0,0,.3);
    background: #fff;
}

.product-remove {
    padding-right: 3px!important;
    max-width: 12px;
}
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 200px;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: none;
    width: 48%;
    margin: 0 auto;
}
.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
    float: right;
}

.wcml-cs-active-currency {
    list-style-type: none;
    border: 1px solid #ccc;
    border-radius: 4px;
        color: #555;
}
.container__padding {
    padding: 40px 15px 40px
}

.pb-00400 {
    padding:0 0 40px 0;
}
.d-none {
    display: none;
}

