body, #header-bar, #scroll-menu {
    margin-top: 32px;
}
.content-wrapper {
    padding: 18px 0 0;
}
.container__single {
    padding:80px 15px 40px;
}
.d-none {
    display:none;
}

.share-button {
    padding:40px 0;
}
@media handheld, only screen and (max-width: 767px) {
    #header-bar {
        margin-top:0;
    }
}
